body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    height: 100vh;
}

#map {
    height: 100vh;
}

button:focus {
    outline: none !important;
}

.btn.btn-primary {
    color: #FFFFFF;
    background: #000000;
    border: none;
    border-radius: 0;
    transition: .3s linear all;
}

.btn.btn-primary:hover {
    color: #FEED02;
}

.material-icons {
    vertical-align: middle;
}

.contact-dialog {
    position: absolute;
    top: 50%;
    left: 250px;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 350px;
    min-height: 500px;
    overflow: hidden;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}
@media (max-width: 768px) {
    .contact-dialog {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        transform: none;
        min-height: 200px;
    }
}
.contact-dialog.-lg {
    height: 600px;
}

.contact-dialog .dialog-card {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    transform: translateX(100%);
}

.contact-dialog .dialog-card.visible {
    transform: translateX(0);
}

.contact-dialog .dialog-card.hidden {
    transform: translateX(-100%);
}

.contact-dialog .dialog-card .dialog-card-title {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 900;
}

.contact-dialog .dialog-card .dialog-card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 48px;
    width: 100%;
    color: #000000;
    background: #FEED02;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

.contact-dialog .dialog-card .dialog-card-header .btn-action {
    color: #000000;
    font-weight: 900;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 32px;
    background: transparent;
    border: none;
    transform: translate(-50%, -50%);
}

.contact-dialog .dialog-card .dialog-card-body {
    padding: 16px;
    max-height: calc(100% - 48px);
    overflow-y: auto;
}

.contact-dialog .dialog-card#countryList .nav {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.contact-dialog .dialog-card .nav .nav-link {
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transition: .1s linear all;
    cursor: pointer;
}

.contact-dialog .dialog-card .nav .nav-link:hover {
    color: #FEED02;
    background: #000000;
}

.contact-dialog .dialog-card .dialog-card-img {
    display: block;
    height: 180px;
    margin: 0 0 32px 0;
}

#agentsButton {
    display: none;
}

#agentsButton.visible {
    display: block;
}

.accordion .card {
    border-radius: 0;
    border: 1px solid #000;
}

.accordion .card .card-header {
    background: #000000;
    font-weight: 900;
    border-radius: 0;
}

.accordion .card .card-header .btn {
    color: #ffffff;
    font-size: 0.9125rem;
    text-decoration: none;
    transition: .3s linear all;
}

.accordion .card .card-header .btn.agent-item,
.accordion .card .card-header .btn.durbal-agent-item {
    border-bottom: 1px solid #fff;
}

.accordion .card .card-header .btn:hover {
    color: #FEED02;
}

.accordion .card .card-body p {
    font-size: 0.875rem;
    margin: 0;
}

.hide-element {
    display: none;
}

.show-element {
    display: block;
}

.arrow-back {
    position: absolute;
    left: 1.25rem;
    cursor: pointer;
}